<section class="slider-wrapper-video">
    <div class="container">
        <div class="row">
              <iframe src="https://www.youtube.com/embed/kX3GpNoZp68"
                      allowfullscreen frameborder="0"
                      title="Latest Snippet">
              </iframe>
         </div>
         <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
